@model JBNAdminPortal.Models.Search

@{
    ViewBag.Title = "City Wise Report";
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin">
                <div class="card card-outline-primary">
                    <div class="card-body">
                        <h4 class="card-title">City Wise Report</h4>
                        <p class="card-description">

                        </p>

                        @using (Ajax.BeginForm("SearchByDate", "CitywiseRpt", null, new AjaxOptions
                        {
                            UpdateTargetId = "divList",
                            OnBegin = "onBegin_Ajax",
                            OnComplete = "onSearchCompleteCreate_Ajax",
                            OnSuccess = "onSearchSuccess_Ajax",
                            //OnFailure = "onFailure_Ajax",
                            HttpMethod = "post",
                            LoadingElementId = "progress"
                        }, new { @class = "form-sample" }))
                        {
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>From Date</label>
                                        @Html.EditorFor(a => a.FromDate, new { htmlAttributes = new { @class = "form-control dated", @placeholder = "From Date", @autocomplete = "off" } })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>To Date</label>
                                        @Html.EditorFor(a => a.ToDate, new { htmlAttributes = new { @class = "form-control dated", @placeholder = "To Date", @autocomplete = "off" } })
                                    </div>
                                </div>
                                <div class="col-md-3 hidden">
                                    <div class="form-group">
                                        <label>Category</label>
                                        @Html.DropDownListFor(a => a.SubCategoryID, (SelectList)ViewBag.SubCategory, "Select Sub Category", new { @class = "form-control dropdowns" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Business Type</label>
                                        @Html.DropDownListFor(a => a.BusinessTypeID, (SelectList)ViewBag.BusinessType, "Select Business Type", new { @class = "form-control dropdowns" })
                                    </div>
                                </div>

                                <div class="col-md-3 hidden">
                                    <div class="form-group">
                                        <label>Customer</label>
                                        @Html.DropDownListFor(a => a.CustID, (SelectList)ViewBag.CustomerList, "Select Customer", new { @class = "form-control dropdowns" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>State</label>
                                        @Html.DropDownListFor(a => a.StateID, (SelectList)ViewBag.StateList, "Select State", new { @class = "form-control dropdowns", @onchange = "StateChanged(this)" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>City</label>
                                        @Html.DropDownList("StateWithCityID", Enumerable.Empty<SelectListItem>(), "Select City", new { @id = "StateWithCityID", @class = "form-control dropdowns" })
                                    </div>
                                </div>
                            </div>
                            <div style="text-align:center">
                                <button type="submit" class="btn btn-primary mr-2">Search</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 grid-margin">
                <div class="card card-outline-success">
                    <div class="card-body">
                        <div id="divList">
                            @Html.Action("CityList")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="progress" class="modal">
    <div class="center" style="margin: 0px; padding: 0px; position: fixed; right: 0px; top: 0px; width: 100%; height: 100%; background-color: rgb(102, 102, 102); z-index: 30001; opacity: 0.8;">
        <p style="position: absolute; color: White; top: 50%; left: 45%;">
            <span>Loading, Please Wait...</span> <img src="~/images/loading.gif" height="100" width="100" />
        </p>
    </div>
</div>
<script>
    function onSearchCompleteCreate_Ajax() {

    }
    function onPromoSuccess_Ajax() {

    }
    function onSearchSuccess_Ajax() {
        $('.dataGrid').dataTable({
            dom: 'Bfrtip',
            buttons: [
                'csv', 'excel', 'pdf'
            ]
        });
    }
    function onBegin_Ajax(data) {
    }
    function onFailure_Ajax() {
        swal("Error", "Please try again later", "error");
    }
    function Ajax_Edit_Failure(xhr, statusDescription) {
        swal(xhr.statusDescription);
    }
    function onEditSuccess() {
    }
    function onShareSuccess(data) {
        if (data == "Mail Sent") {
            swal("Success", data, "success");
        }
        else {
            swal("Error", data, "error");
        }
    }
    function onPromoSuccess_Ajax(data) {
        if (Data == "sessionexpired") {
            swal({
                text: "Your Session Expired!! Please login again",
            }).then(function () {
                window.location = '@Url.Action("Index", "Login")';
            });
        }
        else {
            window.location = '@Url.Action("DownloadResponseData", "CityWiseRpt")?fileGuid=' + Data.FileGuid + '&filename=' + Data.FileName;
            swal({
                text: "Promotion Activity Done!! Please click Ok to download details",
            }).then(function () {
                window.location = '@Url.Action("DownloadResponseData", "CityWiseRpt")?fileGuid=' + Data.FileGuid + '&filename=' + Data.FileName;
                @*window.location = '@Url.Action("Index", "BusinessTypeWiseRpt")';*@
            });
        }
    }
</script>
<script>
    function StateChanged(element) {
        var StateID = $(element).val();
        $("#progress").show();
        $("#progress p span").text("Loading Cities.. Please Wait..");
        $.ajax({
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            type: 'POST',
            data: "{ 'StateID': '" + StateID + "'}",
            url: '@Url.Action("GetCitiesofState", "BusinessTypeWiseRpt")',
            success: function (data) {
                //$("#StateWithCityID").append('<option value="0">Select City</option>');
                $.each(data, function (index, value) {
                    $("#StateWithCityID").append('<option value="' + value.StatewithCityID + '">' + value.VillageLocalityName + '</option>');
                });
                $("#progress").hide();
                $("#progress p span").text("Loading.. Please Wait..");
                $("#StateWithCityID").focus();
            },
            error: function (response) {
                alert(response.error);
            }
        });
    }
</script>
@*<script>
        $(document).ready(function () {
            // Initialize Editor
            $('.textarea-editor').summernote({
                height: 100, // set editor height
                minHeight: null, // set minimum height of editor
                maxHeight: null, // set maximum height of editor
                focus: false // set focus to editable area after initializing summernote
            });
        });
    </script>*@

<script>
    $(document).ready(function () {
        $(".dataGrid").dataTable().fnDestroy();
        var table = $('.dataGrid').DataTable({
            pageLength: 4
        });

        $('#select_all').click(function () {
            //var c = this.checked;
            //$('.chhselect').prop('checked', c)
            $(':checkbox', table.rows().nodes()).prop('checked', this.checked);
        });

        $(".chhselect").click(function () {
            if (!this.checked) {
                $("#select_all").prop('checked', false);
            }
            else if ($(".chhselect").length == $(".chhselect:checked").length) {
                $("#select_all").prop('checked', true);
            }
        });

        // Handle form submission event
        $('#frm-example1').on('submit', function (e) {
            var form = this;

            // Encode a set of form elements from all pages as an array of names and values
            var params = table.$('input,select,textarea').serializeArray();

            // Iterate over all form elements
            $.each(params, function () {
                // If element doesn't exist in DOM
                if (!$.contains(document, form[this.name])) {
                    // Create a hidden element
                    $(form).append(
                        $('<input>')
                            .attr('type', 'hidden')
                            .attr('name', this.name)
                            .val(this.value)
                    );
                }
            });
        });
    });
</script>

@*<script>
        function onPromoteClick() {
            var EmailChecked = $("#IsEmail").val();
            var IsSMS = $("#IsSMS").val();
            var IsWhatsApp = $("#IsWhatsApp").val();

            if (!$('#IsEmail').is(':checked') && !$('#IsSMS').is(':checked') && !$('#IsWhatsApp').is(':checked')) {
                swal("Check atleast one checkbox to promote");
                return false;
            }
        }
    </script>*@